<h2><%= @product.name %></h2>
<h3><%= @product.description %></h3>
<h4><%= @product.price %></h4>
<img src="<%= @product.images %>" alt="">

<a href="/products">All Products</a>
<a href="/products/<%= @product.id %>/edit">Edit</a>
<a href="/products/<%= @product.id %>" data-method= "delete">Delete</a>